/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}

a {
  color:#516569;
}
 

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}
.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

blockquote {
    text-shadow: 0 0 15px #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.vert-text img {
  /* margin-bottom: 15px; */
}

@font-face {
	font-family: Purisa;
	src: local('Purisa'),
	     url('../fonts/Purisa.ttf') format('truetype');
}

/* Side Menu */

#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #333;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.btn-primary {
  color: #000000;
  border-color: #4DCF9A;
  background: #4DCF9A;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #000000;
  background-color: #ffffff;
  border-color: #ffffff;
}


.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #72FF26;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  font-family: Purisa,Helvetica,arial;
  background: url(../img/rpi.jpg) no-repeat bottom center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header h1, .h1 {
  font-family: Purisa, "Helvetica Neue", Helvetica, Arial, sans;
  color: #FFFFFF;
  margin-top: 40px;
}

.header h3, .h3 {
  color: #FFFFFF;
  line-height: 30px;
}

/* Intro */

.intro {
  padding: 50px 0;
  color: #000000;
}

/* Events */

.events {
  background: #4DCF9A;
  padding: 50px 0;
  color: #ffffff;
}

.events-item {
  margin-bottom: 15px;
}

i.events-icon {
  border: 3px solid #516569;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

/* Services */

.services {
  background: #22FF9F;
  padding: 50px 0;
  color: #ffffff;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

/* Callout */

.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../img/bedrace.jpg) no-repeat center 80% fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Projects */

.projects {
  padding: 50px 0;
}

.projects-item {
  margin-bottom: 25px;
}

.img-projects {
  margin: 0 auto;
  border-radius: 10px;
}

/* Portfolio */

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  margin: 0 auto;
}


/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #88867F;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

/* Map */

.map {
  height: 500px;
}

#contact {
  height: 100%;
  margin: 0px;
  padding: 0px
}

/* Footer */

footer {
  padding: 100px 0;
}

.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}
/* Responsive */

@media (max-width: 768px) {
	
  .header {
	background: url(../img/rpi.jpg) no-repeat center 50% scroll; 
  }

  .callout {
	background: url(../img/bedrace.jpg) no-repeat center center scroll; 
  }

  .map {
	height: 75%;
  }

  .vert-text h1 {
    font-size: 3.5em;
  }

}

